
body
{
    background-color: #535353;

}
.center-block
{
  float: none;
  border: 1px solid silver;
  padding: 20px;
  border-radius: 20px;
}

.well
{
  text-align: center;
  background-color: #535353;
  border: none;
}

.well > a
{
  font-size: 50px;
  color:grey;
}

.icon-youtube-play:hover
{
  text-decoration: none;
  color: red;
}

.icon-facebook-rect:hover
{
  text-decoration: none;
  color: #2A406D;
}

.icon-github:hover
{
  text-decoration: none;
  color: black;
}

.col-md-7
{
    background-color: #535353;
    color: black;
    border: 1px solid #696969;
}

.jumbotron
{
    background-color: #696969;
}

.jumbotron > h3
{
  text-align: center;
}


h3 > a
{
    text-decoration: none;
    color: black;

}
